*{

    margin: 0;
    padding: 0;
    @font-face {
        font-family: roboto;
        src: url(fuentes/roboto-thin.tff);
    }
    

}
body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#Inicio{
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    position: absolute;
    transform: translate(0px, -111px);

}

#pInicio{
    position: relative;
    top: 0;
    right: 0;
    transform: translate(200px, 80px);
    width: 150px;

}

#pInicio p{
    font-family: roboto;
    font-size: 50px;
    color: rgb(255, 157, 0);
    font-weight: 300;

}

#pPlanes{
    position: relative;
    top: 0;
    right: 0;
    transform: translate(393px, 20px);
    width: 150px;

}

#pPlanes p{
    font-family: roboto;
    font-size: 50px;
    color: white;
    font-weight: 300;

}

#Icono1{
    width: 30px;
    height: 30px;
    font-size: 40px;
    z-index: 100;
    position: relative;
    color: white;
    transform: translate(113px, -240px);
}

#Icono2{
    width: 30px;
    height: 30px;
    font-size: 40px;
    z-index: 101;
    position: relative;
    color: white;
    transform: translate(80px, -195px);
}

#Icono3{
    width: 30px;
    height: 30px;
    font-size: 40px;
    z-index: 102;
    position: relative;
    color: white;
    margin-top: 30%;
    margin-left: 40px;
    transform: translate(7px, -150px);
}

#seccion2{
background-color: black;

}
#img3{
    
    margin-top: 30px;
    z-index: -1;
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin-left: 5%;
    border-radius: 4%;
}

#parrafo1{
    z-index: 10;
    position: relative;
    width: 500px;
    height: 500px;
    transform: translate(50px,-700px);
}

#PParrafo1{
    z-index: 11;
    width: 500px;
    height: 500px;
    text-align: center;
    justify-content: center;
}



 /* Estilos slider */ 

 *{
    padding: 0%;
    margin: 0%;
}

.container{
    margin: auto;
    background-color: white;
    width: 1340px;
    height: 640px;
    padding: 30px;
}

ul, li{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

ul.slider{
    z-index: 1;
    position: relative;
    width: 1340px;
    height: 640px;
}

ul.slider li{
    z-index: 1;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0%;
    position: absolute;
    opacity: 0;
    width: 1370px;
    height: 640px;
    transition: opacity .90s;
}

ul.slider li img{
    z-index: 1;
    width: 1370px;
    height: 680px;
    object-fit: cover;

}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}


.menu{
    z-index: 10;
    text-align: center;
    margin: 20px;
    position: relative;

}

.menu li{
    z-index: 10;
    display: inline-block;
    text-align: center;
    position: relative;

}

.menu li a{
    z-index: 10;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: white;
    padding: 4px;
    width: .5px;
    height: .5px;
    font-size: .5px;
    border-radius: 100%;
    float: none;
    content: '';
    position: relative;
    box-sizing: content-box;
    z-index: 10;
    transform: translate(0px,-100px);
    

}